/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/*------- Tipografias ------------ */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/helveticaneueroman-webfont.woff2") format("woff2"),
    url("../font/helveticaneueroman-webfont.woff2") format("woff");
}

/* ------ Variables --------- */
:root {
  /* Colores */
  --color_blanco: #f4f4f4;
  --color_texto: #333;
  --color_negro: #00000040;

  /* Tamaños */
  --radio: 10px;
  --tamano_titulo: 32px;
}

/* ------- Estilos Generales -------- */
html {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* ------- Cuerpo de la Pagina ------- */
body {
  background-color: var(--color_blanco);
  color: var(--color_texto);
  display: grid;
  place-items: center;
  height: 100vh;

  /* Apartado del contenedor del boton */
  .btn {
    padding: 30px 20px;
    background-color: var(--color_blanco);
    color: var(--color_texto);
    border-radius: var(--radio);
    box-shadow: 0px 4px 4px 0px var(--color_negro);
    user-select: none;

    > h5 {
      font-size: var(--tamano_titulo);
    }
  }
}
